/* --------------------INFORMATION */
/* IN THE SECOND HEADER CSS CODES BELOW, THERE IS A SEPARATE DESIGN THE HOME BUTTON
WHICH IS THE 1ST NTH CHILD. THE CODE LINE IS THIS: .second-header-links :nth-child(1)
------------------------*/

/* IN THE PROJECT SECTIO THE BACKGROUND IS CHANGED IN THE CONTAINER AND THE OPACITY OF THE OVERLAY WAS MADE 0.7 INSTEAD OF 0.5 */




/* SECOND-HEADER */
.second-header-links :nth-child(1){
    padding: 8px 20px;
}





/* PROJECT SECTION */
.project-container{
    margin-top: 50px;
    height: 300px;
    width: 100%;
    background: url(royal\ crown\ 1.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
.overlay2{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}
